.about-header{
  color: rgb(95, 73, 73);
  text-align: center;
  padding:  20px;
}

.about-header h1{
  border-bottom: 2px solid rgb(191, 184, 184);
  width: fit-content;
  margin: auto;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:  20px;
}

.content, .image-container {
  flex:  1  1  45%;
  margin:  20px;
}

.content h2{
  margin: 15px 0px 7px 0px;
}

.content {
  text-align: justify;
}

.image-container{
  display: flex;
  align-items: center;
}

.image-container img {
  width:  100%;
  height: auto;
  border-radius: 6px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  width:  100%;
  height: 80px;

}

@media (max-width:  768px) {
  .content, .image-container {
      flex:  1  1  100%;
  }
}