@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');


.home{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.blog-h1{
  position: absolute;
  top:46px;
  font-family: 'Carattere', cursive;
  font-size: 145px;
  z-index: 1;
  color:#d0d5d7;
}

.blog-image{
  object-fit: contain;
  width: 98.9vw;
  height: 40vw;
  object-fit: cover;
  margin-top: 110px;
  opacity: 0.95;
  width: 96vw;
  border-radius: 5px;
}



.post-and-sidebar{
  display: flex;
  flex: 1;
}

@media(max-width: 950px){
  .blog-h1{
    font-size: 80px;
    margin-top: 30px;
  }
}

@media(width<600px){
  .blog-image{
    width:89vw
  }
}

@media((width>600px) and (width<800px)){
  .blog-image{
    width:92vw
  }
}


@media((width>800px) and (width<1100px)){
  .blog-image{
    width:94vw
  }
}